 body, html{
   margin: 0;
   padding: 0;
   font-family: Avenir;
   background-image: url("https://res.cloudinary.com/dfjzvlip6/image/upload/v1534425538/assets/2996704-programming-php-programming-language-syntax-highlighting-minified-knowledge-coding-code-html-computer-pixels-computer-screen-logic___mixed-wallpapers.jpg")
 }

 .first{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   color: #fff;
 }

 .head{
   text-align: center;
   width: 100vw;
   font-size: 2em;
   margin-bottom: -70px;
 }

 h4{
   font-size: 1.7em;
   margin-bottom: 0px;
   color: #fff;
 }

 .second{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: rgba(0, 0, 0, 0.8);
   justify-content: center;
   align-items: center;
 }

 .cardContainer{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .icon{
   font-size: 2.5em;
   color: #fff;
   margin-left: 20px;
  transition: all .4s ease-in-out;
 }

 .icon:hover{
  transform: scale(1.1)
 }

.who{
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.card{
  margin-left: 50px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  max-width: 250px;
}

.desc{
  font-size: 15px;
}

h5{
  font-size: 1.2em;
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  height: 80px;
}

.projectImg{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}

.gameImg{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}

.email{
  margin-left: 20px;
}

.projectImg:hover{
  transform: scale(1.1)
}

.gameImg:hover{
  transform: scale(1.1)
}

@media screen and (max-width: 600px){
  .projectImg{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    transition: all .4s ease-in-out;
  }
  .contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    text-align: center;
    color: black;
    font-size: 1.2em;
    height: 100px;
    margin-top: 20px;
  }
}